@font-face {
  font-family: 'my-font';
  src: url('../public/fonts/RobotoCondensed-BoldItalic.ttf');
}

body {
  background: #04142e;
  font-family: 'my-font';
  padding: 0;
  margin: 0;
  height: 100vh;
}
